    
.harvard-image {
    width: 300px;
    height: 300px;
}

.dl-image {
    width:200px;
    height:200px;
}

.jumbotron {
    position: relative;
        z-index: 2;
        box-shadow: 0 8px 16px -6px black;
        background-color:lightslategray;
        box-shadow: 10px 10px 8px 10px black;
    }

body{
    font-family: 'Ubuntu', sans-serif;
}

.col-lg-5 {
    padding: 5px;
    /* width: 40%; */
    /* margin: 5px; */
    
 } 

#harvard-view {
    width: 45%;
    height: 100%;
    margin: 10px;
}

#DL-view {
    width: 45%;
    height: 100%;
    margin: 10px;
    /* float: right; */
}

.containerapis {
    width:100%;
    height:100%;
    margin:10px;

    display: inline-flex;
    /* align-items: center; */
    
}

@media only screen and (max-width: 650px) {
    .harvard-image {
        width: 200px;
        height: 200px;
    }
  }

  .navbar {
            position: relative;
            z-index: 2;
            background-color:lightslategray;
  }

  body {
      background-image: url(../images/parchment-background-3411.png);
  }
/* .cardborder{
    position:

} */